/***************
 *    Main     *
 **************/

.button.h {
    color : white;
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(102, 102, 102, 1);
}

.button.alcalin {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(212, 212, 212, 1);
}

.button.alcalino {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 225, 107, 1);
}

.button.trans_metal {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 194, 125, 1);
}

.button.metal {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 140, 130, 1);
}

.button.non_metal {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(226, 159, 252, 1);
}

.button.nobel_gas {
    color : white;
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(163, 144, 124, 1);
}

.button.lantanid {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(209, 255, 130, 1);
}

.button.actinid {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(140, 213, 255, 1);
}

.button.alone {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(149, 163, 171, 1);
}

/***************
 *   Orbital   *
 **************/

.button.s {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 225, 107, 1);
}

.button.p {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 140, 130, 1);
}

.button.d {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 194, 125, 1);
}

.button.f {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(226, 159, 252, 1);
}

/***************
 *     eV      *
 **************/

.button.zero_eV {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(250, 250, 250, 1);
}

.button.one_eV {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 225, 107, 1);
}

.button.two_eV {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(249, 196, 64, 1);
}

.button.three_eV {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 161, 84, 1);
}

.button.four_eV {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(243, 115, 41, 1);
}

.button.five_eV {
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(237, 83, 83, 1);
}

.button.six_eV {
    color : white;
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(198, 38, 46, 1);
}

/***************
 *    Ionic    *
 **************/
/*
.button.h {

    color : white;
    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(102, 102, 102, 1);
}

.button.alcalin {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(212, 212, 212, 1);
}

.button.alcalino {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 225, 107, 1);
}

.button.trans_metal {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 194, 125, 1);
}

.button.metal {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(255, 140, 130, 1);
}

.button.non_metal {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(226, 159, 252, 1);
}

.button.nobel_gas {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(163, 144, 124, 1);
}

.button.lantanid {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(209, 255, 130, 1);
}

.button.actinid {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(140, 213, 255, 1);
}

.button.alone {

    border-radius : 0px;
    padding : 20px 10px;
    background : rgba(149, 163, 171, 1);
}
*/
