/*
* Copyright (c) 2018 Eudald Gubert Roldan
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 2 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA
*
* Authored by: eudaldgr <eudaldgr@posteo.net>
*/

/*With Buttons => padding : 15px 10px;*/

/***************
 *    Main     *
 **************/

.alkali-metal {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(247, 175, 142, 1);
}

.alkaline-earth-metal {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(246, 212, 122, 1);
}

.transition-metal {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(246, 233, 123, 1);
}

.post-transition-metal {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(193, 230, 160, 1);
}

.metalloid {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(164, 218, 163, 1);
}

.other-nonmetal {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(135, 202, 194, 1);
}

.halogen {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(142, 218, 234, 1);
}

.noble-gas {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(146, 204, 251, 1);
}

.lanthanide {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(206, 134, 217, 1);
}

.actinide {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(238, 139, 177, 1);
}

.non {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(184, 202, 212, 1);
}

/***************
 *     eV      *
 **************/

.zero-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(149, 163, 171, 1);
}

.one-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(247, 196, 31, 1);
}

.two-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(255, 179, 0, 1);
}

.three-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(255, 136, 0, 1);
}

.four-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(245, 6, 29, 1);
}

.five-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(192, 1, 42, 1);
}

.six-eV {
    border : 0px;
    font-size : 17px;
    color : white;
    border-radius : 3px;
    padding : 15px 15px;
    background : rgba(148, 5, 51, 1);
}
