.grid {
    border : 0px;
    font-size : 25px;
    color : white;
    border-radius : 3px;
    min-height : 55px;
    min-width : 55px;
}

.pop {
    font-size : 20px;
    min-height : 0px;
    min-width : 170px;
    padding : 15px 15px;
}

/* with buttons => padding : 15px 10px;*/

/***************
 *    main     *
 **************/

.alkali-metal {
    background : rgba(247, 175, 142, 1);
}

.alkaline-earth-metal {
    background : rgba(246, 212, 122, 1);
}

.transition-metal {
    background : rgba(246, 233, 123, 1);
}

.post-transition-metal {
    background : rgba(193, 230, 160, 1);
}

.metalloid {
    background : rgba(164, 218, 163, 1);
}

.other-nonmetal {
    background : rgba(135, 202, 194, 1);
}

.halogen {
    background : rgba(142, 218, 234, 1);
}

.noble-gas {
    background : rgba(146, 204, 251, 1);
}

.lanthanide {
    background : rgba(206, 134, 217, 1);
}

.actinide {
    background : rgba(238, 139, 177, 1);
}

/***************
 *     eV      *
 **************/

.zero-eV {
    background : rgba(171, 172, 174, 1);
}

.one-eV {
    background : rgba(255, 194, 33, 1);
}

.two-eV {
    background : rgba(255, 189, 32, 1);
}

.three-eV {
    background : rgba(245, 163, 38, 1);
}

.four-eV {
    background : rgba(234, 140, 44, 1);
}

.five-eV {
    background : rgba(224, 120, 49, 1);
}

.six-eV {
    background : rgba(215, 103, 53, 1);
}

.seven-eV {
    background : rgba(206, 88, 58, 1);
}

.eight-eV {
    background : rgba(187, 65, 60, 1);
}

.nine-eV {
    background : rgba(148, 5, 51, 1);
}
